.card {
  background: #fff;
  border-radius: 7px;
  height: 32rem;
  margin: 4rem;
  position: relative;
  overflow: hidden;
  width: 28rem;
}

.card > .img-container {
  border-radius: 7px;
  height: 100%;
  text-align: center;
  background:#6CADDC;
}

.card > .img-container > img {
  position: relative;
  top: 10%;
  width: 60%
}

@media screen and (max-width: 850px) {

  .card {
    margin: 1rem;
    width: 25rem;
  }
  
}

@media screen and (max-width: 400px) {

  .card {
    height: 27rem;
    width: 20rem;
  }
}